.bg{
  background-color:aliceblue;
}
.bg2{
  background-color:#fff;
}

.navbar-brand,.navbar ul li a{
  color:#fff !important;
}
a,a:hover{
  text-decoration: none;
  color:#000;
}
.loader{
  border:1px solid #ddd;
  width:140px;
  height: 70px;
  position: relative;
  top:40%;
  left:44%;
}