.bg{
  background-color:aliceblue;
}
.bg2{
  background-color:#fff;
}

.navbar-brand,.navbar ul li a,footer{
  color:#fff !important;
}
a,a:hover{
  text-decoration: none;
  color:#000;
}
.loader{
  border:1px solid #ddd;
  width:140px;
  height: 70px;
  position: relative;
  top:40%;
  left:44%;
  margin-top:200px;
  margin-bottom:100px;
}
input.ng-invalid{
  border-left:5px solid brown;
}
input.ng-valid{
  border-left:5px solid green;
}