<h1>Products</h1>
<a href="#!/products/new" class="btn btn-success">Add New Product</a>
<div class="col-md-6" ng-repeat="product in products">
  <div class="card">
    <a href="#!/products/{{product._id}}">
      <div class="card-header">{{product.brand | uppercase}} {{product.model | lowercase}}</div>
      <div class="card-body">
        <div>{{product.price | currency}}</div>
        <div><input type="checkbox" ng-disabled="true" ng-checked="product.inStock" /> InStock</div>
      </div>
      <div class="card-footer">
        {{product.lastUpdated | date:'MM-dd-yyyy hh:mm:ss'}}
        ( {{product.lastUpdated | time}} )
      </div>
    </a>
  </div>
  <br />
</div>

<!-- Filters: uppercase, lowercase, currency, date, titleCase -->